[Unit]
Description=MaNGOS Daemon for Realms
After=mysql.service

[Service]
ExecStart=/usr/bin/screen -DmS realmd /srv/mangos/bin/realmd -c /srv/mangos/etc/realmd.conf
ExecStop=/usr/bin/screen -S realmd -X quit
User=mangos

[Install]
WantedBy=multi-user.target

