[Unit]
Description=MaNGOS Daemon
After=mysql.service

[Service]
User=mangos
ExecStart=/usr/bin/screen -LDmS mangosd /srv/mangos/bin/mangosd -c /srv/mangos/etc/mangosd.conf
ExecStop=/usr/bin/screen -S mangosd -X quit

[Install]
WantedBy=multi-user.target

